*{
    margin:0;
    padding:0;
}
header{
    background:url(../images/header-bg.png) repeat;
}

/* HEADER-TOP */

.header-top{
    width:93%;
    height: 100px;
}
.soc-icons{
    /* width: 21%; */
}
.soc-icons a{
    margin-left: 20px;
}

/* END HEADER-TOP */

/* HEADER-BOTTOM */
.header-bottom-wrapper{
    width: 100%;
    background: #40312a;
}
.header-bottom{
    width:95.5%;
    height: 58px;
}
.header-bottom a:hover{
    color:#2c8897 !important;
}

#search{
    border:solid black 1px;
    height: 25px;
    width: 190px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(8, 123, 149)),color-stop(1, rgb(62, 169, 192)));
        /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(8, 123, 149) 0%,rgb(62, 169, 192) 100%);
        /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(8, 123, 149) 0%,rgb(62, 169, 192) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(8, 123, 149) 0%,rgb(62, 169, 192) 100%);
    background:#2392ab url(../icons/search.png) no-repeat 155px center; 
}

/* END HEADER-BOTTOM */

/* MAIN */

.slider{
    background:url(../images/sledr-bg.png);
    /* margin-top: 50px; */
    width: 100%;
    height: 400px;
    border-bottom:solid 1px #bba67b;    
}
.slider-card{
    width: 93%;
    height: 75%;
    /* outline: #2392ab solid 1px; */
}
.card-body-bg{
    background-image: url(../images/sloider-img-bg.png)
}
.wrapper-card-body{
    width: 55%;
    padding-left:4%;
    font-size:0.9em;
    color:white;
    text-shadow: black 0 0 2px;
}
.wrapper-card-body h4{
    color: #3da2b4;
    text-shadow: black 0 -1px 2px;
    margin: 5px 0 13px 0;
}
.wrapper-card-body button{
    height: 45px;
    width: 160px;
    margin:25px 30px 0 0;
    background:url(../images/header-bg.png);
    color:white;
}
.card-footer-bg{
    position: relative;
    background: #2b8697;
}
.wrapper-card-footer{
    color:white;
    width: 55%;
    padding-left:4%;
    height: 25px;
}
.wrapper-card-footer a{
    padding-right: 5px;
    color:white;
    text-decoration: none;
}
.card-image-first{
    position: absolute;
    bottom: 20px;
    right: 120px;
    z-index: 3;
    -webkit-box-shadow: 2px 10px 12px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 12px -9px rgba(0,0,0,0.75);
box-shadow: 2px 10px 12px -9px rgba(0,0,0,0.75);
}
.card-image-second{
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 2;
    -webkit-box-shadow: 2px 10px 12px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 12px -9px rgba(0,0,0,0.75);
box-shadow: 2px 10px 12px -9px rgba(0,0,0,0.75);
}
.position-squre{
    position: relative;
}
.squre{
    cursor: auto;
    position: absolute;
    bottom: -20px;
    left:25px;
    width: 15px;
    height: 15px;
    background: #e0cfad;
    transform: rotate(45deg);
}
.slider-bottom-border{
    background: #deccaa;
    width: 100%;
    height: 3px;
    border-bottom:solid 2px #bba67b;
}
/* END SLIDER */

/* BLOG */
.site-inform{
    height: 800px;
    background:#f8eedf;
    border-bottom: #b2988d solid 1px;
}
.blog{
    width: 62%;
    height: 100%;
}
.wrapper-blog{
    width: 89%;
    height: 87%;
}
h4{
    color:#267688;
    font:24px 'Cambria Math';
    font-weight: 550;
    margin-bottom: 0;
}
.blog h3{
    margin: 25px 0 0 0;
    font:30px 'Candara';
}
.blog p{
    font: 12px 'Verdana';
    margin: 5px 0 0 0;
}
.blog button{
    margin-top:45px;
}
.blog a{
    font:13px 'Cambria';
    font-style: italic;
    font-weight: 500;
    color:#ce953c ;
}
.blog img{
    width: 100%;
    max-height: 180px;
    /* max-height: 140px; */
    margin: 10px 0;
}
.wrapper-blog{
    margin: 0 auto;
}
.wrapper-blog>p>a{
    font-size: 12px;
    font-style:normal;
    font-weight: bold; 
    font-family: 'Verdana';
    color:#247184;
}
.sleh-line{
    color:#ce953c ;
}
.btn-bg{
    padding: 3px 20px;
    color: white;
    font-family: 'Cambria Math';
    background: rgb(81,66,59);
    background: linear-gradient(180deg, rgba(81,66,59,1) 56%, rgba(65,50,43,1) 100%);
}

/* END BLOG */
/* LINE BLOG-SIDEBAR */
.line-light{
    width: 1px;
    height: 100%;
    background: rgb(255,247,234);
    background: linear-gradient(180deg, rgba(255,247,234,1) 42%, rgba(0,211,254,0) 100%);
}
.line-dark{
    width: 1px;
    height: 100%;
    background: rgb(223,205,178);
    background: linear-gradient(180deg, rgba(223,205,178,1) 42%, rgba(0,211,254,0) 100%);
}
/* END LINE BLOG SIDEBAR */


/* SIDEBAR */
.sidebar{
    height: 100%;
    width: 38%;
    background: rgb(238,221,199);
    background: linear-gradient(0deg, rgba(238,221,199,0) 0%, rgba(238,221,199,1) 83%);
}
.wrapper-sidebar{
    height: 87%;
    width: 81%;
    margin:0 auto;
    /* outline: #40312a solid 1px; */
}
/* Базовый контейнер табов */
.tabs {
    color:white;
	padding: 0px;
    /* margin-top: 50px; */
    text-align: center;
}
/* Стили секций с содержанием */
.tabs>section {
    /* border:#40312a solid 1px; */
    display: none;
    text-align: left;
    padding: 15px 15px;
}

.tabs>section>p {
    
	margin: 0 0 5px;
    line-height: 1.5;
    font: 12px 'Verdana';
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    /* width: 33.3%; */
    /* border: #2a8394 solid 1px; */
    display: inline-block;
    font-family: 'Cabrine Math';
    margin-bottom: 0px;
	padding: 15px 15px;
	font-weight: 500;
	text-align: center;
    background: #40312a;
    border-bottom:solid 1px  #2a8394;
    -webkit-box-shadow: 0px 0px 0px 1px #40312a; 
    box-shadow: 0px 1px 0px 0px #40312a;
}
/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
    /* -webkit-box-shadow:1px 0px 0px 0px #2a8394;  */
    box-shadow: none;
	background: #2a8394;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3 {
	display: block;
}
/* .tabs-line{
    border-top:#134a56 solid 1px;
    border-bottom: #3196af solid 1px;
} */
.tab-top{
    border-bottom: #134a56 solid 1px;
    height: 65px;
    
}
.tab-bottom{
    border-top:#3196af solid 1px;
    height: 95px;
}

.tabs-border{
    margin-bottom: 40px;
    background: #2a8394;
}
.sidebar-img{
    margin-top:25px;
}
.sidebar-img>a>img{
    max-height: 130px;
}
.wrapper-sidebar>p{
    margin:20px 0 50px 0;
    font: 12px 'Verdana';
}
.wrapper-sidebar>p>a{
    font-size: 12px;
    font-style:normal;
    font-weight: bold; 
    font-family: 'Verdana';
    color:#247184;
}
.sponsors>img{
    margin-top:30px;
    max-width: 140px;
}

/* END SIDEBAR */

/* FOOTER */
.footer-wrapper-top{
    border-top:solid 1px #b2988d;
    height: 415px;
    background: rgb(64,49,42);
    background: linear-gradient(189deg, rgba(64,49,42,1) 11%, rgba(58,44,37,1) 50%);
}
.footer-top{
    width: 94%;
    /* height: 77%; */
}
.footer-contact{
    width: 33%;
    /* padding-right: 4%; */
    height: 77%;
}
.footer-recent-projects{
    position: relative;
    margin: 0 7%;
    width: 33%;
    /* padding:0 4%; */
    height: 77%;
}

.footer-contact{
    position: relative;
}
.footer-contact>form{
    margin-top:25px;
}
.footer-contact>form>input, .footer-textarea{
    color: #247184;
    background: #f8eedf;
    padding: 0 10px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: inset -4px 6px 15px -6px #000000; 
    box-shadow: inset 0px 3px 15px -6px #000000;
}
.footer-contact>form>input::placeholder, .footer-textarea::placeholder{
    color: #247184;
}
.footer-textarea{
    /* width: 270px; */
    height: 112px;
    margin:13px 0;
    resize: none;
}
.footer-input-name{
    width: 40%;
    height: 38px;
    margin-right:6px;
}
.footer-input-last-name{
    width: 57%;
    height: 38px;
}
.footer-email{
    height: 38px;
}
.footer-btn{
    font:16px 'Cambria Math';
    height: 35px;
    width: 42%;
    position: absolute;
    right: 0;
    bottom: 3px;
    background:url(../images/header-bg.png);
    color:white;
}
.footer-images{
    margin-top:25px;
}
.footer-images>a:nth-child(-n+2) {
    margin-bottom: 9%;
} 
.tweeter-stream{
    position: relative;
    width: 33%;
    font:12px 'Verdana';
    height: 77%;
    color: white;
}
.footer-text{
    margin-top: 25px;
}
.footer-text>p{
    margin:0;
    padding: 13px 0;
}
.tweeter-stream a{
    color: #34727b;
    text-decoration: none;
    font:12px 'Verdana';
}
.footer-wrapper-bottom{
    border-top: #38a4b6;
    height: 66px;
    background: rgb(44,135,151);
    background: linear-gradient(189deg, rgba(44,135,151,1) 11%, rgba(43,139,156,1) 63%);
}
.footer-bottom{
    width: 94%;
}
.footer-bottom>p{
    color: white;
    font: 13px 'Cambria Math';
    margin:0;
}
.footer-bottom>nav>a{
    padding: 0 6px;
    color: white;
    font: 13px 'Cambria Math';
    border-right: 1px solid white;
}
.footer-bottom>nav>a:nth-last-child(1){
    border-right: none;
}
/* END FOOTER */

/* MEDIA */

@media screen and (max-width:2200px) and (min-width:1801px){
    .header-top{
        width:56%;
    }
    .header-bottom{
        width:57%;
    }
    .slider-card{
        width: 56%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 56%;
    }
    .wrapper-blog{
        width: 49%;
        margin-left: 40%;
    }
    .sidebar{
        width: 44%;
    }
    .wrapper-sidebar{
        width: 40%;
        margin-left: 10%;
    }    
    .footer-top{
        width: 55%;
    }
    .footer-bottom{
        width: 55%;
    }
}

@media screen and (max-width:1800px) and (min-width:1601px){
    .header-top{
        width:60%;
    }
    .header-bottom{
        width:61%;
    }
    .slider-card{
        width: 60%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 56%;
    }
    .wrapper-blog{
        width: 53%;
        margin-left: 36%;
    }
    .sidebar{
        width: 44%;
    }
    .wrapper-sidebar{
        width: 44%;
        margin-left: 10%;
    }    
    .footer-top{
        width: 59%;
    }
    .footer-bottom{
        width: 59%;
    }
}
@media screen and (max-width:1600px) and (min-width:1401px){
    .header-top{
        width:68%;
    }
    .header-bottom{
        width:69%;
    }
    .slider-card{
        width: 68%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 56%;
    }
    .wrapper-blog{
        width: 61%;
        margin-left: 29%;
    }
    .sidebar{
        width: 44%;
    }
    .wrapper-sidebar{
        width: 52%;
        margin-left: 12%;
    }    
    .footer-top{
        width: 67%;
    }
    .footer-bottom{
        width: 67%;
    }
}
@media screen and (max-width:1400px) and (min-width:1201px){
    .header-top{
        width:78.5%;
    }
    .header-bottom{
        width:80%;
    }
    .slider-card{
        width: 78%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 56%;
    }
    .wrapper-blog{
        width: 71%;
        margin-left: 19%;
    }
    .sidebar{
        width: 44%;
    }
    .wrapper-sidebar{
        width: 62%;
        margin-left: 13%;
    }    
    .footer-top{
        width: 79%;
    }
    .footer-bottom{
        width: 79%;
    }
}
@media screen and (max-width:1200px) and (min-width:1101px){
    .header-top{
        width:84%;
    }
    .header-bottom{
        width:86%;
    }
    .slider-card{
        width: 84%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 56%;
    }
    .wrapper-blog{
        width: 77%;
        margin-left: 14%;
    }
    .sidebar{
        width: 44%;
    }
    .wrapper-sidebar{
        width: 68%;
        margin-left: 13%;
    }    
    .footer-top{
        width: 85%;
    }
    .footer-bottom{
        width: 85%;
    }
}
@media screen and (max-width:1100px) and (min-width:1020px){
    .header-top{
        width:88%;
    }
    .header-bottom{
        width:90%;
    }
    .slider-card{
        width: 88%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 56%;
    }
    .wrapper-blog{
        width: 81%;
        margin-left: 11%;
    }
    .sidebar{
        width: 44%;
    }
    .wrapper-sidebar{
        width: 72%;
        margin-left: 14%;
    }    
    .footer-top{
        width: 88%;
    }
    .footer-bottom{
        width: 88%;
    }
}
@media screen and (max-width:1020px) and (min-width:961px){
    .header-bottom-wrapper{
        padding-left:3.5%; 
    }
}
@media screen and (max-width:960px){
    .header-top{
        width:98%;
    }
    .header-bottom{
        width:98%;
    }
    .header-bottom-wrapper{
        padding-left:0.5%; 
    }
    .slider-card{
        width: 98%;
    }
    .site-inform{
        /* height: 900px; */
    }
    .blog{
        width: 60%;
    }
    .wrapper-blog{
        width: 95%;
        margin-left: 2%;
    }
    .sidebar{
        width: 40%;
    }
    .wrapper-sidebar{
        width: 93%;
        margin-left: 5%;
    }    
    .footer-top{
        width: 98%;
    }
    .footer-bottom{
        width: 98%;
    }
}
@media screen and (max-width:911px){
    .line-dark{
        display: none;
    }
    .line-light{
        display: none;
    }
    .site-inform{
        height: 850px;
    }
    .blog{
        width: 100%;
    }
    .sidebar{
        display: none !important;
    }    
    .footer-wrapper-top{
        display: none;
    }
}
@media screen and (max-width:991px){
    .header-bottom{
        height: 200px;S
    }
    .search-form{
        display: none;
    }
}

