*{
    margin:0;
    padding:0;
}
header{
    background:url(../images/header-bg.png) repeat;
    height: 100px;
}

/* HEADER-TOP */

.header-top{
    width:93%;
    height: 100%;
}
.soc-icons>img{
    margin-left: 25px;
}

/* END HEADER-TOP */

/* HEADER-BOTTOM */
.header-bottom-wrapper{
    width: 100%;
    background: #40312a;
}
.header-bottom{
    font:;
    width: 93%;
    height: 58px;
}
@media screen and (max-width:991px){
    .header-bottom{
        height: 200px;
    }
}
.header-bottom a:hover{
    color:#2c8897 !important;
}

#search{
    border:solid black 1px;
    height: 25px;
    width: 190px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(8, 123, 149)),color-stop(1, rgb(62, 169, 192)));
        /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(8, 123, 149) 0%,rgb(62, 169, 192) 100%);
        /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(8, 123, 149) 0%,rgb(62, 169, 192) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(8, 123, 149) 0%,rgb(62, 169, 192) 100%);
    background:#2392ab url(../icons/search.png) no-repeat 155px center; 
}
@media screen and (max-width:991px){
    .search-form{
        display: none;
    }
}


    